<section>
  <h2>É rapidinho...</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="email">Insira um email</label>
    <input type="text" name="email" id="email" placeholder="Insira um email" />

    <label class="sr-only" for="pass">Insira uma senha</label>
    <input
      type="password"
      name="pass"
      id="pass"
      placeholder="Insira uma senha"
    />
    <button>
      <img src="images/users-white.svg" alt="Entrar na sala" />
      Finalizar cadastro
    </button>
  </form>
</section>
