<section>
  <h2>Entre na sua conta</h2>
  <form action="/enterroom" method="POST">
    <label class="sr-only" for="email">Usuário</label>
    <input name="email" type="text" id="email" placeholder="Insira o email" />

    <label class="sr-only" for="pass">Senha</label>
    <input name="pass" type="password" id="pass" placeholder="Insira a senha" />
    <button>
      <img src="images/enter-room.svg" alt="Entrar na sala" />
      Entrar
    </button>
  </form>
</section>

<div class="separator">
  <div></div>
  <div>ou</div>
  <div></div>
</div>

<section>
  <h2>Criar uma conta</h2>
  <a href="/create-pass" class="button outlined">
    <img src="images/users.svg" alt="Criar Sala" />
    Criar conta
  </a>
</section>
